<nav class="navbar navbar-light bg-faded">
<div class="row justify-content-md-center" >
	<div class="dropdown">
		<a data-toggle="dropdown" href="#" class="btn btn-default">Home</a>
		<ul class="dropdown-menu">
			<li class="text-center"><a href="#" >Home Page 1-1</a></li>
			<li class="text-center"><a href="#">Home Page 1-2</a></li>
			<li class="text-center"><a href="#">Home Page 1-3</a></li>
		</ul>
	</div>
	<div class="dropdown">
		<a data-toggle="dropdown" href="#" class="btn btn-default">Membership and Chamber Info</a>
		<ul class="dropdown-menu">
			<li class="text-center"><a href="#">Membership Page 1-1</a></li>
			<li class="text-center"><a href="#">Membership Page 1-2</a></li>
			<li class="text-center"><a href="#">Membership Page 1-3</a></li>
		</ul>
	</div>
	<div class="dropdown">
		<a data-toggle="dropdown" href="#" class="btn btn-default">Events</a>
		<ul class="dropdown-menu">
			<li class="text-center"><a href="#">Events Page 1-1</a></li>
			<li class="text-center"><a href="#">Events Page 1-2</a></li>
			<li class="text-center"><a href="#">Events Page 1-3</a></li>
		</ul>
	</div>
	<div class="dropdown">
		<a data-toggle="dropdown" href="#" class="btn btn-default">Our Region</a>
		<ul class="dropdown-menu">
			<li class="text-center"><a href="#">Region Page 1-1</a></li>
			<li class="text-center"><a href="#">Region Page 1-2</a></li>
			<li class="text-center"><a href="#">Region Page 1-3</a></li>
		</ul>
	</div>
	<div class="dropdown">
   		<a data-toggle="dropdown" href="#" class="btn btn-default" >About and Contact Us</a>
		<ul class="dropdown-menu">
			<li class="text-center"><a href="#">About Page 1-1</a></li>
			<li class="text-center"><a href="#">About Page 1-2</a></li>
			<li class="text-center"><a href="#">About Page 1-3</a></li>
		</ul>   
  </div>
</div>
</nav>