<div class="center-container">
	<div class="justify-content-md-center">
            <div class="img-wrapper">
		    <img class="img-responsive"  ng-src="data:image/png;base64,{{chamberHome.homePageImg}}" alt="Chamber's Home Page" height="300px" width="100%" style="opacity: 0.8">
		    <div class="img-overlay">
		    	<div class="row">
		    		<div class="col-lg-4"><a href="#" class="btn btn-md btn-success">Members</a></div>
		  		    <div class="col-lg-4"><a href="#" class="btn btn-md btn-success">Community</a></div>
		      		<div class="col-lg-4"><a href="#" class="btn btn-md btn-success">Events</a></div>
		    	</div>
		   </div>
   </div>
       
	</div>
	
	<div class="row justify-content-md-center">
		<div>
			<a href="#" class="btn btn-default">Job Postings</a>
		</div>
		<div>
			<a href="#" class="btn btn-default">Hot Deals</a>
		</div>
		<div>
			<a href="#" class="btn btn-default">Member News</a>
		</div>
		<div>
			<a href="#" class="btn btn-default">Chamber Letters</a>
		</div>
	</div>

</div>