<div class = "row">
	<div class="col-lg-2" ></div>
	<div class="col-lg-8 col-lg-offset-4 " ng-if="hasRole([ContactRoles.chamberStaff])">
         <a href="#" class="btn btn-primary btn-lg btn-block">Search Businesses</a> <br>
         <a href="#" class="btn btn-primary btn-lg btn-block">Search Contacts</a> <br>
         <a href="#" class="btn btn-primary btn-lg btn-block">Committees</a> <br>
         <a href="#" class="btn btn-primary btn-lg btn-block">Events</a> <br>
         <a href="#" class="btn btn-primary btn-lg btn-block">Gift Certificates</a> <br>
         <a ng-href="/tempF" class="btn btn-primary btn-lg btn-block">Reports</a> <br>
         <a ng-href="#!/admin/adminHome" class="btn btn-primary btn-lg btn-block">Admin</a> <br>
	</div>
	<div class="col-lg-2"></div>
</div>
