<div class="row">
    <div class="col-md-6"><h1>Administration</h1></div>
    <div class="col-md-6 text-right"><h3><a href="#!/home">Home</a></h3></div> 
</div><br><br>

<div class="row">
    <div class="col-md-6"><a href="#"  class="btn btn-primary btn-lg btn-block">Add/Edit Marketing Letters</a></div>
    <div class="col-md-6 text-right"><a href="#!/admin/chamberHome" class="btn btn-primary btn-lg btn-block">Update Home Page</a></div> 
 </div><br>
 
 <div class="row">
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-lg btn-block">Add/Edit Business Categories</a></div>
    <div class="col-md-6 text-right"><a href="#!/admin/websiteRotator" class="btn btn-primary btn-lg btn-block">Add/Edit/Modify Website Rotator</a></div> 
 </div><br>
 
 <div class="row">
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-lg btn-block">Add/Edit/Modify Users</a></div>
    <div class="col-md-6 text-right"><a href="#" class="btn btn-primary btn-lg btn-block">Add/Edit/Modify Advertising</a></div>
 </div><br>
 
 <div class="row">
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-lg btn-block">Add/Edit/Modify Event Series</a></div>
    <div class="col-md-6 text-right"><a href="#" class="btn btn-primary btn-lg btn-block">Add/Edit/Modify Staff/Board</a></div> 
 </div><br>
 
 <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right"><a href="#" class="btn btn-primary btn-lg btn-block">Add Newletters</a></div> 
 </div><br><br>
 	
 <div class="row">
   	<div class="col-md-6"><a href="#!/admin/globalWebsite" class="btn btn-primary btn-lg btn-block">Add/Edit/Modify Global Website</a></div>
    <div class="col-md-6"><h4>Chamber Name, Address, Image, Social Media Links</h4></div> 
 </div>